@use '@angular/material' as mat;
@import 'src/styles.scss';
@import 'src/app/_styles/global';
$palettes: mat.get-color-config($TainanPublicWitnessing-theme);
$warn-palette: map-get($palettes, 'warn');
:host {
  .congTitle {
    font-size: 20px;
    font-weight: 500
  }

  .iconTitle {
    font-size: xx-large;
  }

  .deativated {
    color: map-get($warn-palette, 'text');
  }
}