<div class="title-bar flex items-center">
  <span class=" mr-3">
    <mat-icon class="iconTitle" [color]="'primary'">group</mat-icon>
  </span>
  <h2>{{'CONGREGATIONS.TITLE' | translate}}</h2>
  <span class="spacer"></span>
  <button mat-icon-button (click)="createCongregation()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-card class="h-1/2 overflow-auto">
  <mat-list>
    <mat-list-item *ngFor="let congregation of congregations$ | async">
      <p matLine class="congTitle" [class.deativated]="!congregation.activate">{{congregation.name}}</p>
      <button mat-icon-button (click)="openCongregationEditor(congregation)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [color]="congregation.activate ? 'warn' : 'default'"
        (click)="changeCongregationActivation(congregation)">
        <mat-icon>{{congregation.activate? "work_off" : "work"}}</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
