<div class="title-bar flex items-center">
    <h1>{{'CONGREGATIONS.TITLE' | translate}}</h1>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="h-hull">
    <mat-list id="congregations-list" class="full-height" style="padding: 0">
        <cdk-virtual-scroll-viewport [itemSize]="48" class="full-height">
            <mat-list-item *cdkVirtualFor="let congregation of congregations$" [id]="congregation.uuid">
                {{congregation.name}}
            </mat-list-item>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</div>