<div class="title-bar">
  <h1>{{ "USERS.TITLE" | translate }}</h1>

  <span class="spacer"></span>

  <button
    mat-icon-button
    *ngIf="userCreateAccess$ | async"
    (click)="onAddButtonClick()"
    id="create-user-button"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-form-field class="full-width" appearance="outline">
  <mat-icon matPrefix>search</mat-icon>
  <input
    matInput
    [ngModel]="filterValue$ | async"
    (ngModelChange)="filterValue$.next($event)"
  />
  <button mat-icon-button matSuffix (click)="filterValue$.next('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="full-height">
  <mat-action-list id="users-list" class="full-height" style="padding: 0">
    <cdk-virtual-scroll-viewport [itemSize]="48" class="full-height">
      <a
        mat-list-item
        *cdkVirtualFor="let userPrimarykey of userPrimarykeys$ | async"
        [id]="userPrimarykey.uuid"
        (click)="onInfoButtonClick(userPrimarykey)"
      >
        <span [class.deativated]="!userPrimarykey.activate">{{
          userPrimarykey.username
        }}</span>

        <span class="spacer"></span>

        <!-- <button
        mat-icon-button
        class="info-button"
      >
        <mat-icon>info</mat-icon>
      </button> -->

        <button
          mat-icon-button
          *ngIf="userUpdateAccess$ | async"
          (click)="onEditButtonClick($event, userPrimarykey)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          [color]="!userPrimarykey.activate ? 'default' : 'warn'"
          *ngIf="userDeleteAccess$ | async"
          (click)="onDeactivateButtonClick($event, userPrimarykey)"
        >
          <mat-icon>{{
            !userPrimarykey.activate ? "person" : "person_off"
          }}</mat-icon>
        </button>
      </a>
    </cdk-virtual-scroll-viewport>
  </mat-action-list>
</div>
