@import 'src/app/_styles/global';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .overflow {
    height: 100%;
    overflow: auto;

    .mat-list {
      width: 100%;
      
      .mat-list-item {
        height: $list-item-height;
      }
    }
  }
}
