
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>{{'PERSONAL_SHIFT.LABEL.YEAR_MONTH' | translate}}</mat-label>
    <input matInput [matDatepicker]="yearMonthPicker" [formControl]="yearMonthControl">
    <mat-datepicker-toggle matSuffix [for]="yearMonthPicker"></mat-datepicker-toggle>
    <mat-datepicker
      #yearMonthPicker
      startView="year"
      (monthSelected)="setMonthAndYear($event, yearMonthPicker)"
      panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <app-shift-table [shifts]="shifts"></app-shift-table>
</div>