<mat-selection-list multiple="false">

  <mat-list-option
    *ngFor="let menuLink of (currentMenuLinks$ | async)"
    (click)="onMenuLinkClick()"
    [routerLink]="menuLink.url"
    cy="menu-links">
    {{menuLink.display | translate}}
  </mat-list-option>

  <mat-list-option
    *ngIf="!(this.isLoggedIn$ | async)"
    (click)="onLoginClick()"
    cy="login-button">
    {{ "GLOBAL.LOG_IN" | translate }}
  </mat-list-option>

  <mat-list-option
    *ngIf="this.isLoggedIn$ | async"
    (click)="onLogoutClick()"
    cy="logout-button">
    {{ "GLOBAL.LOG_OUT" | translate }}
  </mat-list-option>
  
</mat-selection-list>