<mat-selection-list multiple="false">
  <mat-list-option
    *ngFor="let menuLink of (currentMenuLinks$ | async)"
    (click)="onMenuLinkClick()"
    [routerLink]="menuLink.url">
    {{menuLink.display | translate}}
  </mat-list-option>

  <mat-list-option *ngIf="!(this.isLoggedIn$ | async)" (click)="onLoginClick()">
    {{ "GLOBAL.LOG_IN" | translate }}
  </mat-list-option>

  <mat-list-option *ngIf="this.isLoggedIn$ | async" (click)="onLogoutClick()">
    {{ "GLOBAL.LOG_OUT" | translate }}
  </mat-list-option>
</mat-selection-list>