<mat-card class="mb-3">
  <form
    [formGroup]="filterValue"
    class="flex flex-row flex-wrap"
    (submit)="onSubmit()"
  >
    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.USERNAME" | translate }}</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.GENDER" | translate }}</mat-label>
      <mat-select formControlName="gender" multiple>
        <mat-option
          *ngFor="let gender of genders"
          [value]="gender"
          [id]="gender | lowercase"
        >
          {{ "GENDER." + gender | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.CONGREGATION" | translate }}</mat-label>
      <mat-select formControlName="congregationUuid" multiple>
        <mat-option
          *ngFor="let congregation of congregations$ | async"
          [value]="congregation.uuid"
          [id]="congregation.uuid"
        >
          {{ congregation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.PERMISSION" | translate }}</mat-label>
      <mat-select formControlName="permission" multiple>
        <mat-option *ngFor="let permission of permissions" [value]="permission">
          {{ "PERMISSIONS." + permission | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.CELLPHONE" | translate }}</mat-label>
      <input matInput formControlName="cellphone" />
    </mat-form-field>

    <mat-form-field class="w-full sm:w-1/2">
      <mat-label>{{ "USERS.LABEL.PHONE" | translate }}</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <!-- <div class="w-full text-right">
      <button mat-raised-button color="primary" type="submit">
        {{ "GLOBAL.CONFIRM" | translate }}
      </button>
    </div> -->
  </form>
</mat-card>
