@import 'src/app/_styles/global';

.shift-card {
  width: 210px;

  .mat-card-header {

    .mat-card-title {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  .mat-card-content {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    .deliver{
      background-color: bisque;
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;

    .has-statistic {
      color: green;
      border-bottom: 3px solid green;
      border-radius: 3px;
    }
  }
}