<mat-card class="shift-card h-full box-border">
  <mat-card-header *ngIf="crew !== null">
    <mat-card-title class="-mx-4">
      <div>{{ shift?.date }}</div>
      <div><mat-icon>schedule</mat-icon>{{ shiftHour?.name }}</div>
      <div><mat-icon>pin_drop</mat-icon>{{ site?.name }}</div>
    </mat-card-title>

    <mat-card-subtitle class="-mx-4">
      {{ "GLOBAL.DAY." + day | translate }}
      {{ shiftHour?.startTime }} ~
      {{ shiftHour?.endTime }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-chip-list *ngIf="!!crew && activateControl.value">
      <mat-chip
        *ngFor="let user of crew; let i = index"
        [ngClass]="{ deliver: i < shift?.delivers }"
      >
        {{ user.username }}
      </mat-chip>
      <ng-template [ngIf]="showEmpty">
        <mat-chip
          *ngFor="let count of emptiness"
          class="bg-warn text-white cursor-pointer"
          (click)="onEmptySpotClick()"
        >
          {{ "AVAILABLE_SHIFTS.NEED_SUPPORT" | translate }}
        </mat-chip>
      </ng-template>
    </mat-chip-list>

    <mat-spinner *ngIf="crew === null"></mat-spinner>
    <div class="canceled-message" *ngIf="!activateControl.value">
      <mat-icon>event_busy</mat-icon>
      {{ "SHIFT_CARD.CANCELED" | translate }}
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="crew !== null">
    <mat-slide-toggle
      color="primary"
      [formControl]="activateControl"
      *ngIf="canEditCrew$ | async"
    ></mat-slide-toggle>

    <span class="spacer"></span>

    <button
      mat-icon-button
      *ngIf="canEditStatistic$ | async"
      [ngClass]="{ 'has-statistic': shift?.hasStatistic }"
      (click)="openStatisticEditor()"
    >
      <mat-icon>add_chart</mat-icon>
    </button>

    <button
      mat-icon-button
      *ngIf="canEditCrew$ | async"
      (click)="openCrewEditor()"
    >
      <mat-icon>groups</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      *ngIf="enableDelete && (canEditCrew$ | async)"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
