@import 'src/app/_styles/global';

.shift-card {
  width: 242px;
  position: relative;
  display: flex;
  flex-direction: column;

  .mat-card-header {
    .mat-card-title {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  .mat-card-content {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    flex-grow: 1;

    .deliver {
      background-color: bisque;
    }

    .canceled-message {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .has-statistic {
      color: green;
      border-bottom: 3px solid green;
      border-radius: 3px;
    }
  }
}
