@import 'src/app/_styles/global';

.shift-card {
  width: 242px;
  position: relative;
  display: flex;
  flex-direction: column;

  .mat-card-header {
    .mat-card-title {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  .mat-card-content {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    .deliver {
      background-color: bisque;
    }
  }

  .mat-card-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;

    .has-statistic {
      color: green;
      border-bottom: 3px solid green;
      border-radius: 3px;
    }
  }
}
