<div class="title-bar flex items-center">
  <span class=" mr-3">
    <mat-icon class="iconTitle" [color]="'primary'">location_on</mat-icon>
  </span>
  <h2>{{'SETTINGS.SITES' | translate}}</h2>
  <span class="spacer"></span>
  <button mat-icon-button (click)="createSite()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let site of sites$ | async">
      <p matLine class="siteTitle" [class.deativated]="!site.activate">{{site.name}}</p>
      <p matLine class="siteDetail">{{site.position}}</p>
      <button mat-icon-button (click)="openSiteEditor(site)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [color]="site.activate ? 'warn' : 'default'" (click)="changeSiteActivation(site)">
        <mat-icon>{{site.activate? "work_off" : "work"}}</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
