<div class="title-bar flex items-center">
    <h1>{{'SETTINGS.SITE' | translate}}</h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="createSite()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div *ngFor="let site of sites" class="my-2">
    <mat-card class="shift-card h-full box-border">
        <mat-card-header>
            <mat-card-title>
                {{site.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{site.position}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-icon-button (click)="opneSiteEditor(site)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [color]="site.activate ? 'default' : 'warn'" (click)="changeSiteActivation(site)">
                <mat-icon>{{site.activate? "work" : "work_off"}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>