<div class="title-bar">
  <h1>{{ title | translate }}</h1>
  <span class="spacer"></span>
  <button mat-button color="accent" (click)="onCancelClick()">{{ cancelButtonText | translate }}</button>
  <button mat-button color="primary" *ngIf="mode !== 'read'" (click)="onSubmitClick()">{{ "GLOBAL.SUBMIT" | translate }}</button>
</div>

<div class="overflow">
  <form [formGroup]="profileForm">

    <mat-form-field class="full-width">
      <mat-label>{{ "PROFILES.NAME_LABEL" | translate }}</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="profileForm.controls.name.hasError('existed')">
        {{ "GLOBAL.EXISTED_ERROR" | translate: { value: "PROFILES.NAME_LABEL" | translate } }}
      </mat-error>
    </mat-form-field>
  
    <mat-list>
  
      <mat-list-item *ngFor="let key of permissionKeys">
      
        {{key}}
    
        <span class="spacer"></span>
    
        <mat-slide-toggle
          [formControlName]="key"
          color="primary">
        </mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </form>
</div>
