<div class="title-bar">
  <h1>{{title}}</h1>
  <span class="spacer"></span>
  <button mat-button color="accent" (click)="onCancelClick()">{{mode === 'read' ? 'back' : 'cancel'}}</button>
  <button mat-button color="primary" *ngIf="mode !== 'read'" (click)="onSubmitClick()">submit</button>
</div>

<form [formGroup]="profileForm">

  <mat-form-field class="full-width">
    <mat-label>Profile name</mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="profileForm.controls.name.hasError('existed')">Profile name already existed!</mat-error>
  </mat-form-field>

  <mat-list>

    <mat-list-item *ngFor="let key of permissionKeys">
    
      {{key}}
  
      <span class="spacer"></span>
  
      <mat-slide-toggle
        [formControlName]="key"
        color="primary">
      </mat-slide-toggle>
    </mat-list-item>
  </mat-list>
</form>