<div mat-dialog-content [formGroup]="crewFormGroup">
  <div formArrayName="crew" class="crew-container" cdkDropList (cdkDropListDropped)="drop($event)">

    <div class="member-row" *ngFor="let control of getCrewControls(); let controlName=index;" cdkDrag cdkDragPreviewContainer="parent">

      <mat-icon cdkDragHandle>drag_handle</mat-icon>

      <app-member-input
        class="member-input"
        [control]="control">
      </app-member-input>

      <button mat-icon-button (click)="removeMember(controlName)"><mat-icon>delete</mat-icon></button>
    </div>

    <div class="add-button-row">
      <button mat-icon-button (click)="addMember()"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button
    color="accent"
    cdkFocusInitial
    (click)="onCancelClick()">
    {{ "GLOBAL.CANCEL" | translate }}
  </button>

  <button mat-button
    color="primary"
    (click)="onSubmitClick()">
    {{ "GLOBAL.SUBMIT" | translate }}
  </button>
</div>