<h1 mat-dialog-title>{{ "LOGIN.TITLE" | translate }}</h1>

<div mat-dialog-content>
  <form [formGroup]="loginForm">

    <mat-form-field class="full-width">
      <mat-label>{{ "LOGIN.LABEL.USERNAME" | translate }}</mat-label>
      <input matInput formControlName="username" [matAutocomplete]="auto" cy="username-input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let userKey of userKeys"
          [value]="userKey.username"
          cy="username-autocomplete-options">
          {{userKey.username}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="loginForm.controls.username.hasError('notExist')" cy="username-not-exist-error-message">
        {{ "GLOBAL.DONOT_EXIST_ERROR" | translate: { value: "LOGIN.LABEL.USERNAME" | translate } }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ "LOGIN.LABEL.PASSWORD" | translate }}</mat-label>
      <input matInput formControlName="password" type="password" cy="password-input">
    </mat-form-field>

    <mat-error *ngIf="loginForm.hasError('permissionFail')" cy="permission-fail-error-message">
      {{ "LOGIN.PERMISSION_FAIL_ERROR" | translate }}
    </mat-error>
  </form>
</div>

<div mat-dialog-actions>

  <button mat-button
    color="accent"
    (click)="onCancelClick()"
    cdkFocusInitial
    cy="login-cancel-button">
    {{ "GLOBAL.CANCEL" | translate }}
  </button>

  <button mat-button
    color="primary"
    (click)="onConfirmClick()"
    cy="login-submit-button">
    {{ "GLOBAL.LOG_IN" | translate }}
  </button>
</div>