<h1 mat-dialog-title>
  {{ "STATISTIC_EDITOR.TITLE" | translate }}
  <span class="spacer"></span>
  <button mat-icon-button (click)="onEditClick()" *ngIf="(managerAccess$ | async) && data.mode === 'view'">
    <mat-icon>edit</mat-icon>
  </button>
</h1>

<div mat-dialog-content>
  <form [formGroup]="statisticForm">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "STATISTIC_EDITOR.LABEL.ATTENDANCE" | translate }}</mat-label>
      <input matInput formControlName="attendance">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "STATISTIC_EDITOR.LABEL.TRACTS" | translate }}</mat-label>
      <input matInput formControlName="tracts">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "STATISTIC_EDITOR.LABEL.VIDEOS" | translate }}</mat-label>
      <input matInput formControlName="videos">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "STATISTIC_EDITOR.LABEL.RETURN_VISIT" | translate }}</mat-label>
      <input matInput formControlName="returnVisits">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "STATISTIC_EDITOR.LABEL.STARTING_BIBLE_STUDIES" | translate }}</mat-label>
      <input matInput formControlName="startingBibleStudies">
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions *ngIf="data.mode !== 'view'">

  <button mat-button
    color="accent"
    cdkFocusInitial
    (click)="onCancelClick()">
    {{ "GLOBAL.CANCEL" | translate }}
  </button>

  <button mat-button
    color="primary"
    (click)="onSubmitClick()">
    {{ "GLOBAL.SUBMIT" | translate }}
  </button>
</div>