<div class="app">

  <mat-toolbar>

    <button mat-icon-button #menuButton cy="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <span cy="app-title">{{ 'GLOBAL.SITE_NAME' | translate }}</span>

    <span class="spacer"></span>

    <span *ngIf="currentUsername$ | async" class="welcome-message">
      {{'GLOBAL.WELCOME_MESSAGE' | translate: {value: currentUsername$ | async} }}
    </span>

    <button mat-icon-button
      [matMenuTriggerFor]="languageMenu" cy="translate-button">
      <mat-icon>translate</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item
        *ngFor="let language of languages"
        (click)="onLanguageButtonClick(language)">
        {{ 'LANGUAGE.' + language | uppercase | translate }}
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="over">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>