@import 'src/app/_styles/global';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-sidenav-container {
    flex: 1 1 auto;

    .mat-sidenav {
      width: 256px;
    }
  }
}