@import 'src/app/_styles/global';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .mat-toolbar {
    background-color: $background-color-toolbar;

    .site-name {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .welcome-message {
      margin-right: 8px;
      font-size: smaller;
    }
  }

  .mat-sidenav-container {
    flex: 1 1 auto;
    background-color: $background-color-light;

    .mat-sidenav {
      width: 256px;
    }

    .mat-sidenav-content {
      display: flex;
      justify-content: center;

      div {
        $padding: 16px;

        width: 100%;
        min-width: $page-min-width;
        height: calc(100% - $padding * 2);
        padding: $padding calc(max($padding, (100% - $page-max-width - 16px) / 2));
        overflow: auto;
      }
    }
  }
}
