<h1 mat-dialog-title>{{ title | translate }}</h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{ "TAGS.NAME_LABEL" | translate }}</mat-label>
    <input matInput [formControl]="tagControl">
    <mat-error *ngIf="tagControl.hasError('existed')">
      {{ "GLOBAL.EXISTED_ERROR" | translate: { value: "TAGS.NAME_LABEL" | translate } }}
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onCancelClick()">{{ "GLOBAL.CANCEL" | translate }}</button>
  <button mat-button color="primary" (click)="onSubmitClick()">{{ "GLOBAL.SUBMIT" | translate }}</button>
</div>