<div class="title-bar">

  <h1>{{ "TAGS.TITLE" | translate }}</h1>

  <span class="spacer"></span>

  <button mat-icon-button 
    *ngIf="tagCreateAccess$ | async"
    (click)="onAddButtonClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="overflow">
  <mat-list cdkDropList [cdkDropListDisabled]="!(tagsSortAccess$ | async)">

    <mat-list-item
      *ngFor="let tag of (tags$ | async)"
      cdkDrag>
  
      {{tag.name}}

      <span class="spacer"></span>

      <button mat-icon-button 
        *ngIf="tagDeleteAccess$ | async"
        (click)="onDeleteButtonClick(tag)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button 
        *ngIf="tagUpdateAccess$ | async"
        (click)="onEditButtonClick(tag)">
        <mat-icon>edit</mat-icon>
      </button>

      <mat-icon cdkDragHandle *ngIf="tagsSortAccess$ | async">drag_handle</mat-icon>
  
      <div *cdkDragPlaceholder></div>
      <div *cdkDragPreview matchSize="true">
        {{tag.name}}
        <span class="spacer"></span>
        <mat-icon>drag_handle</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
