$page-max-width: 1024px;
$page-min-width: 256px;
$list-item-height: 48px;
$list-item-padding: 16px;
$page-title-height: 80px;

$background-color-toolbar: rgba(0, 64, 64, 0.2);
$background-color-light: rgba(0, 0, 0, 0.087);

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.full-height{
  height: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
  height: $page-title-height;
  margin-left: 8px;
}
