$page-max-width: 640px;
$page-min-width: 320px;
$list-item-height: 48px;
$list-item-padding: 16px;
$page-title-height: 80px;

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
  height: $page-title-height;
  margin-left: 8px;
}