<h1>{{ "PROFILE.TITLE" | translate }}</h1>
<mat-card>
  <form [formGroup]="profileForm">
    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.USERNAME" | translate }}</mat-label>
      <input matInput formControlName="username" required id="username-input" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.NAME" | translate }}</mat-label>
      <input matInput formControlName="name" required id="name-input" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.GENDER" | translate }}</mat-label>
      <mat-select formControlName="gender" required id="gender-select">
        <mat-option
          *ngFor="let gender of genders"
          [value]="gender"
          [id]="gender | lowercase"
        >
          {{ "GENDER." + gender | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.CONGREGATION" | translate }}</mat-label>
      <mat-select
        formControlName="congregationUuid"
        required
        id="congregation-select"
      >
        <mat-option
          *ngFor="let congregation of congregations$ | async"
          [value]="congregation.uuid"
          [id]="congregation.uuid"
        >
          {{ congregation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.BAPTIZE_DATE" | translate }}</mat-label>
      <input matInput formControlName="baptizeDate" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.CELLPHONE" | translate }}</mat-label>
      <input matInput formControlName="cellphone" id="cellphone-input" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ "USERS.LABEL.PHONE" | translate }}</mat-label>
      <input matInput formControlName="phone" id="phone-input" />
    </mat-form-field>
  </form>
</mat-card>

<h1>{{ "PROFILE.SCHEDULE" | translate }}</h1>
<mat-card>
  <form></form>
</mat-card>
