@import 'src/app/_styles/global';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title-bar {
    display: flex;
    align-items: center;
  }

  .mat-list {
    width: 100%;

    .mat-list-item {
      height: $list-item-height;
    }
  }
}

.cdk-drag-preview {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: calc(100% - 32px) !important;
  max-width: $page-max-width - 32px;
  height: $list-item-height;
}

.cdk-drag-placeholder {
  background: #f5f5f5;
  max-width: $page-max-width;
  height: $list-item-height;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-handle {
  cursor: grab;
}
