@import 'src/app/_styles/global';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .title-bar {
    display: flex;
    align-items: center;
    height: $page-title-height;
  }

  .overflow {
    height: 100%;
    overflow: auto;

    .mat-list {
      width: 100%;
      
      .mat-list-item {
        height: $list-item-height;
      }
    }
  }
}

.cdk-drag-preview {
  display: flex;
  align-items: center;
  padding: 0 $list-item-padding;
  width: calc(100% - 2 * #{$list-item-padding}) !important;
  max-width: $page-max-width - $list-item-padding * 2;
  height: $list-item-height;
}

.cdk-drag-placeholder {
  background: #f5f5f5;
  max-width: $page-max-width;
  height: $list-item-height;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-handle {
  cursor: grab;
}
