<div class="title-bar">
  <h1>Profiles</h1>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onAddButtonClick()"><mat-icon>add</mat-icon></button>
</div>

<div class="overflow">
  <mat-list cdkDropList>

    <mat-list-item
      *ngFor="let profilePrimarykey of (profilePrimarykeys$ | async)"
      cdkDrag>
  
      {{profilePrimarykey.name}}

      <span class="spacer"></span>

      <button mat-icon-button (click)="onDeleteButtonClick(profilePrimarykey)"><mat-icon>delete</mat-icon></button>

      <button mat-icon-button (click)="onEditButtonClick(profilePrimarykey)"><mat-icon>edit</mat-icon></button>

      <mat-icon cdkDragHandle>drag_handle</mat-icon>
  
      <div *cdkDragPlaceholder></div>
      <div *cdkDragPreview matchSize="true">
        {{profilePrimarykey.name}}
        <span class="spacer"></span>
        <mat-icon>drag_handle</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
