<div class="title-bar">

  <h1>{{ "PROFILES.TITLE" | translate }}</h1>

  <span class="spacer"></span>

  <button mat-icon-button 
    *ngIf="profileCreateAccess$ | async"
    (click)="onAddButtonClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="overflow">
  <mat-list cdkDropList [cdkDropListDisabled]="!(profilesSortAccess$ | async)">

    <mat-list-item
      *ngFor="let profilePrimarykey of (profilePrimarykeys$ | async)"
      [cdkDragDisabled]="profilesService.isDefaultProfile(profilePrimarykey.uuid)"
      cdkDrag>

      {{profilePrimarykey.name}}
      
      <span class="spacer"></span>
      
      <button mat-icon-button 
        *ngIf="(profileDeleteAccess$ | async) && !profilesService.isDefaultProfile(profilePrimarykey.uuid)"
        (click)="onDeleteButtonClick(profilePrimarykey)">
        <mat-icon>delete</mat-icon>
      </button>
      
      <button mat-icon-button 
        *ngIf="(profileUpdateAccess$ | async) && !profilesService.isDefaultProfile(profilePrimarykey.uuid)"
        (click)="onEditButtonClick(profilePrimarykey)">
        <mat-icon>edit</mat-icon>
      </button>
    
      <button mat-icon-button 
        *ngIf="profileReadAccess$ | async"
        (click)="onInfoButtonClick(profilePrimarykey)">
        <mat-icon>info</mat-icon>
      </button>
  
      <mat-icon cdkDragHandle 
        *ngIf="(profilesSortAccess$ | async) && !profilesService.isDefaultProfile(profilePrimarykey.uuid)">
        drag_handle
      </mat-icon>
  
      <div *cdkDragPlaceholder></div>
      <div *cdkDragPreview matchSize="true">
        {{profilePrimarykey.name}}
        <span class="spacer"></span>
        <mat-icon>drag_handle</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
