@import 'src/app/_styles/global.scss';

$disabled-color: rgba(0, 0, 0, 0.5);

app-user {
  mat-form-field {
    padding: 8px;
    box-sizing: border-box;
  }

  input.mat-input-element:disabled {
    color: $disabled-color;
  }

  .mat-select-disabled .mat-select-value {
    color: $disabled-color;
  }
}
