@import 'src/app/_styles/global.scss';

$disabled-color: rgba(0, 0, 0, 0.5);

app-user {
  .overflow {
    flex: 1 1 auto;
    overflow: auto;
    padding: 32px;
    box-sizing: border-box;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    input.mat-input-element:disabled {
      color: $disabled-color;
    }

    .mat-select-disabled .mat-select-value {
      color: $disabled-color;
    }
  }
}
