<div class="title-bar flex items-center">
    <span class=" mr-3">
        <mat-icon class="iconTitle" [color]="'primary'">watch_later</mat-icon>
    </span>
    <h2>{{'SETTINGS.SHIFTHOURS' | translate}}</h2>
    <span class="spacer"></span>
    <button mat-icon-button (click)="createShiftHour()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-card>
    <mat-list>
        <mat-list-item *ngFor="let shifthour of shifthours$ | async">
            <p matLine class="shiftHourTitle">{{shifthour.name}}</p>
            <p matLine class="shiftHourDetail"> {{'SETTINGS.START' | translate}}:{{shifthour.startTime}} ～
                {{'SETTINGS.END' |
                translate}}:{{shifthour.endTime}}</p>
            <button mat-icon-button (click)="openShiftHourEditor(shifthour)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [color]="shifthour.activate ? 'default' : 'warn'"
                (click)="changeShiftHourActivation(shifthour)">
                <mat-icon>{{shifthour.activate? "work" : "work_off"}}</mat-icon>
            </button>
            <button mat-icon-button [color]="shifthour.deliver ? 'default' : 'warn'"
                (click)="changeShiftHourDelivery(shifthour)">
                <mat-icon>local_shipping</mat-icon>
            </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>