<div class="title-bar">
    <h1>{{ title | translate }}</h1>
    <span class="spacer"></span>
</div>
<mat-card class="overflow">
    <form>
        <mat-form-field class="w-full">
            <mat-label>都市見證名稱</mat-label>
            <input matInput />
            <!-- <input matInput formControlName="PublicWitnessingName" required id="publicwitnessingname-input" /> -->
        </mat-form-field>
    </form>
</mat-card>

<app-sites></app-sites>
<app-shfitHours></app-shfitHours>
<app-congregations></app-congregations>